<table
  *ngIf="t__loaded; else loadingRef"
  [class.-with-sorting]="t__withSorting"
  class="-overflow"
>
  <thead>
    <tr>

      <!-- Selectable rows -->
      <th *ngIf="t__withSelectableRows" class="_master-row-selector">
        <div class="_header-content">
          <input type="checkbox" [attr.checked]="t__masterRowSelector" (change)="tableService.selectableRows.onSelectAllRows($event)">
        </div>
      </th>

      <!-- Header -->
      <th *ngFor="let col of t__columns">
        <div class="_header-content -align-y-center -align-x-{{ t__align[col.name].x }}">
          <ng-container *ngTemplateOutlet="
            t__headerTemplates[col.name] ?? defaultHeaderRef;
            context: { $implicit: col }
          "></ng-container>

          <!-- Sort button -->
          <app-table-sorter
            *ngIf="t__withSorting && col.sortable"
            [dir]="t__sorting?.by === col.name ? t__sorting?.dir ?? null : null"
            title="Sort {{ col.name }}"
            (click)="tableService.sorting.onSort(col.name)"
          ></app-table-sorter>

        </div>
      </th>

      <!-- Actions -->
      <th *ngIf="t__withActions">
        <div class="_header-content -actions -align-y-center -align-x-{{ t__align['$action'].x }}">
          <ng-container *ngTemplateOutlet="
            t__actionTemplates?.header ?? defaultActionsHeaderRef;
          "></ng-container>
        </div>
      </th>

    </tr>
  </thead>

  <tbody *ngIf="!isLoading; else bodyLoadingStateRef">
    <tr *ngFor="let row of t__rows; let rowIndex = index">

      <!-- Selectable rows -->
      <td *ngIf="t__withSelectableRows" class="-selectable-row">
        <input type="checkbox" [attr.checked]="!!t__selectedRows[rowIndex]" (change)="tableService.selectableRows.onSelectRow($event, rowIndex)">
      </td>

      <!-- Cell -->
      <td *ngFor="let col of t__columns">
        <div class="_cell-content" [ngClass]="[
          '-align-x-' + t__align[col.name].x,
          '-align-y-' + t__align[col.name].y
        ]">
          <ng-container *ngTemplateOutlet="
            t__cellTemplates[col.name] ?? defaultCellRef;
            context: { $implicit: row, col: col }
          "></ng-container>
        </div>
      </td>

      <!-- Actions -->
      <td *ngIf="t__withActions">
        <div class="_cell-content -actions" [ngClass]="[
          '-align-x-' + t__align['$action']?.x,
          '-align-y-' + t__align['$action']?.y
        ]">
          <ng-container *ngTemplateOutlet="
            t__actionTemplates?.cell ?? defaultActionsCellRef;
            context: { $implicit: row }
          "></ng-container>
        </div>
      </td>

    </tr>
  </tbody>

</table>

<footer>
  <span *ngIf="!t__rows.length && !isLoading">
    No results found
  </span>

  <app-table-paginator
    *ngIf="t__withPagination && t__pagination && t__rows.length"
    [page]="t__pagination.page"
    [pageSize]="t__pagination.pageSize"
    [pageSizes]="t__pagination.pageSizes"
    [total]="t__pagination.total"
    [i18nRowsPerPage]="t__i18n.rowsPerPage"
    [i18nOf]="t__i18n.of"
    (pageClicked)="tableService.pagination.onPageClicked($event)"
    (pageSizeClicked)="tableService.pagination.onPageSizeClicked($event)"
  ></app-table-paginator>
</footer>

<!-- Template: loading -->
<ng-template #loadingRef>
  <p>Loading...</p>
</ng-template>

<!-- Template: Default header -->
<ng-template #defaultHeaderRef let-col>
  {{ col.title }}
</ng-template>

<!-- Template: Default table cell -->
<ng-template #defaultCellRef let-row let-col="col">
  {{ row[col.name] }}
</ng-template>

<!-- Template: Default actions header -->
<ng-template #defaultActionsHeaderRef>
  Actions
</ng-template>

<!-- Template: Default actions cell -->
<ng-template #defaultActionsCellRef let-row>
  No actions
</ng-template>

<!-- Template: body ======================================================= -->
<ng-template #bodyLoadingStateRef>
	<tbody>
		<tr>
			<td [attr.colspan]="t__columnsNumber">
				<div class="-loader-container">
          Loading...
				</div>
			</td>
		</tr>
	</tbody>
</ng-template>
