$app-color-magenta: #d3135a;
$app-color-smoke: #667790;
$app-color-black: #0e141a;

app-table-sorter {
  &.-dir-ASC ._up,
  &.-dir-DESC ._down {
    color: $app-color-magenta;
    font-weight: 900;
  }

  ._button {
    padding: 0.2rem 0.4rem;
    margin-left: 0.3rem;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: $app-color-smoke;

    &:hover,
    &:focus {
      outline: 0;
      border-color: $app-color-black;
    }
  }
}
