<h2>Table</h2>

<section class="demo-section">
  <h3>Basic Table</h3>
  <app-table
    [columns]="basicColumns"
    [rows]="basicRows"

    withActions
    actionsAlignX="end"
    (actionClicked)="consoleLog('actionClicked', $event)"

    withSorting
    (sortingClicked)="consoleLog('sortingClicked', $event)"

    withSelectableRows
    (selectionChange)="consoleLog('selectionChange', $event)"

    withPagination
    [page]="1"
    [pageSize]="10"
    [pageSizes]="[10, 20, 50, 100]"
    [total]="100"
    (pageClicked)="consoleLog('pageClicked', $event)"
    (pageSizeClicked)="consoleLog('pageSizeClicked', $event)"
  >
    <!-- Actions -->
    <ng-container *appTableActionsCell="let row">
      <div
        [index]="row.$index"
        #action="appTableAction"
        appTableAction
        exported
      >
        <button type="button" (click)="action.confirm('edit')">Edit</button>
      </div>
    </ng-container>

    <!-- Column: status -->
    <ng-container appTableColumn="status">
      <ng-container *appTableCell="let row">
        COLOR: {{ row.status.color }}, LABEL: {{ row.status.label }}
      </ng-container>
    </ng-container>

    <!-- Column: date -->
    <ng-container appTableColumn="createdOn">
      <ng-container *appTableCell="let row">
        {{ row.createdOn | date }}
      </ng-container>
    </ng-container>
  </app-table>
</section>
